Images/
*.txt
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyproj
*.sln
*.suo
*.user
*.userprefs
*.sln.docstates
*.dbmdl
*.dbproj.schemaview
*.idb
*.lay
*.lock
*.obj
*.pch
*.pdb
*.plg
*.sdf
*.sln.docstates
*.suo
*.tmp
*.user
*.userosscache
*.userprefs
*.sdf
*.aps
*.bak
*.cache
*.dbmdl